@CHARSET "ISO-8859-1";
.my_style {
	border-radius: 20px 20px 20px 20px;
	background-color: #f6fafb;
	padding-right: 20px;
	padding-left: 20px;
}

/* tr:hover{ */
/*                 background-color: #00ACED; */
/*             } */

/* ul:hover { */
/*    background-color:  #D1CBC4;  */
/* 	border-radius: 10px 10px 10px 10px; */
/* } */

body {
/*     color: #73879C; */
    color: grey;
}

.shadow {
	-ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	background-color: white;
	margin-right: 30px;
	margin-left: 30px;
}
.btncolor{
background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);}

