<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Insert title here</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
        <script>
            var myApp = angular.module('myApp', []);
            myApp.controller('LoginController', function ($scope, $http) {
                $scope.list = [{name: 'DT', link: 'table.html'}, {name: 'Multistep', link: 'multistep.html'}];
                $scope.getPage = function (element) {
                    window.location = element.link;
                };
            });
        </script>

    </head>
    <body ng-controller="LoginController">
        <div class="col-md-1"></div>
        <div class="col-md-2" style="border-style: outset">
            <li ng-repeat="element in list" ng-click="getPage(element)">{{element.name}}</li>
        </div>
        <div class="col-md-1"></div>
    <center>
        <div class="col-md-4" style="border-style: outset">
            Page for Table
        </div>
    </center>
</body>

</html>