<!DOCTYPE html>
<html ng-app="menuApp">
    <head>
        <title>Home</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
<link	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"	rel="stylesheet"/>
<!-- <script type="text/javascript"	src="../static/user_registration.js"></script> -->
<link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script	th:src="@{/assets/script/menu.js}"/>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>

 <body ng-controller="LoginController" style="background-color: #f9f9f9;">
		 <script type="text/ng-template" id="treemenu">
			<a href="/route/{{menuitem.url}}">{{menuitem.privilegeCd}}</a>
			<ul  ng-if="(menu1 |filter:{parentId:menuitem.id}).length > 0">
					<li ng-repeat="menuitem in menu1 |filter:{parentId:menuitem.id}" ng-include="'treemenu'">{{menuitem.privilegeCd}}</li>
				</ul>
	</script>
	<div class="row shadow"  >
		<center><img th:src="@{/assets/images/meta_mastheadlogo.png}"/></center>
	</div>
	<br></br>
    	<div class="row">
			<div class="col-md-2" style="margin-left: 40px;margin-right: 50px;padding-left:10px">
				<br></br> 
				<ul class="main-navigation" 
					>
					<li ng-repeat="menuitem in menu1 |filter:{parentId:0}" ng-include="'treemenu'">{{menuitem.privilegeCd}}</li>
				</ul>		
			</div>
		</div>      
   
</body>
   
 <script>
        </script>

</html>