<HTML>
    <HEAD>
      <TITLE>Registration Successful....!!!</TITLE>       
   </HEAD>
    <BODY style="background-color: #E6E4E4	; border-radius: 10px 10px 10px 10px;padding-right: 20px;	padding-left: 20px;padding-bottom: 15px;padding-top: 15px;">		
     <B>Congratulations! $userdata.username ,</B>
     <BR/>
	 <P>You are signed up successfully and ready to go!</P>
	 <P>Welcome to the Metamorphosys Technologies.</P>
	 <P>We are delighted to have you on board.</P>
     <P>Your password  is <B>$userdata.password</B></P> 
     <BR/>
     <P>To visit our website click on link below</p>
     <P>http://www.metamorphtech.com</P>
     <BR/>
     <P>Thanks.</P>
    </BODY>
  </HTML>