<!DOCTYPE html>
<html ng-app="menuApp">
    <head>
        <title>Home</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
<link	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"	rel="stylesheet"></link>
<!-- <script type="text/javascript"	src="../static/user_registration.js"></script> -->
<!-- <link href="../static/myStyle.css" rel="stylesheet"></link> -->
<link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
        <style>
@CHARSET "ISO-8859-1";
.my_style {
	border-radius: 20px 20px 20px 20px;
	background-color: #f6fafb;
	padding-right: 20px;
	padding-left: 20px;
}

/* tr:hover{ */
/*                 background-color: #00ACED; */
/*             } */

/* ul:hover { */
/*    background-color:  #D1CBC4;  */
/* 	border-radius: 10px 10px 10px 10px; */
/* } */

body {
/*     color: #73879C; */
    color: grey;
}

.shadow {
	-ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	background-color: white;
	margin-right: 30px;
	margin-left: 30px;
}
.btncolor{
background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #142e46;
}

ul li {
  display: table;
  position: relative;
  float: none;
  background: #142e46;
}
li ul { display: none; padding-left: 200px;}

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #353f4f; }
li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a {color:#fff;
text-decoration:none;
 background: #142e46; }

li:hover li a:hover { text-decoration:none; background: #353f4f; }

.main-navigation li ul li { border-top: 0; }
ul ul ul {
  left: 100%;
  top: 0;
}
ul:before,
ul:after {
  content: " "; 
  display: table; 
}

ul:after { clear: both; }

</style>

    </head>
    <body ng-controller="LoginController" style="background-color: #f9f9f9;">
		 <script type="text/ng-template" id="treemenu">
			<a href="{{menuitem.url}}">{{menuitem.privilegeCd}}</a>
			<ul  ng-if="(menu1 |filter:{parentId:menuitem.id}).length > 0">
					<li ng-repeat="menuitem in menu1 |filter:{parentId:menuitem.id}" ng-include="'treemenu'">{{menuitem.privilegeCd}}</li>
				</ul>
	</script>
	<div class="row shadow"  >
		<center>
				<b>METAMORPHOSYS TECHNOLOGIES</b>
		</center>
	</div>
	<br></br>
    	<div class="row">
			<div class="col-md-2" style="margin-left: 40px;margin-right: 50px;padding-left:10px">
				<br></br> 
				<ul class="main-navigation" 
					>
					<li ng-repeat="menuitem in menu1 |filter:{parentId:0}" ng-include="'treemenu'">{{menuitem.privilegeCd}}</li>
				</ul>		
			</div>
		</div>
      <div class="row">
      <a href="/route/user_registration">Neha</a>
      </div>
   
</body>
   
 <script>
      //<![CDATA[
            var menuApp = angular.module('menuApp', []);
            menuApp.controller('LoginController', function ($scope, $http,CommonUtil) {
                $scope.list = [{name: 'DT', link: 'table.html'}, {name: 'Multistep', link: 'multistep.html'}];
                $scope.getPage = function (element) {
                	alert("Neha");
                    window.location = element.link;
                };
              //*****************************************************************		
            	$scope.getMenu=function(){
            	  console.log("NEHA ....");
            	  $http.get("menu").then(
          				function successCallback(response) {
          					$scope.menu1= response.data;
          					console.log($scope.menu1.length);
          					console.log(JSON.stringify($scope.menu1));
       				}, 
          				function errorCallback(response) {
          				console.log(JSON.stringify(response));
          			});
              };
              
              $scope.getMenu();
            //*****************************************************************	     
            });
//--------------------------------------------------------------------------------------------            
            menuApp.service('CommonUtil', function($http,$q) {
            	//*****************************************************************	

            //*****************************************************************	

            	
            });
            //]]>
        </script>

</html>